/*global selectors*/
/*  #3498db blue */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom:  1}
.clearfix::after{
  content: ' ';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------- */
/* Reusable section */
/* ------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}


/* headings */

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;

}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 250%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing:2px;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

h2:after{
  display: block;
  height: 2px;
  background-color: #3498db;
  content: " ";
  width: 5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h4 {
  font-size: 100%;
  margin-top: .25rem;
  margin-bottom: .25rem;
  color: #3498db;
}

/* icons */
.icon-sm {
  font-size: 30px;
  margin: auto;
  padding-top: 5px;
  padding-right: 5px;
  vertical-align: text-bottom;
}

.md-icon {
  font-size: 1.5rem;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: text-bottom;
}

/* buttons */

.btn:link, .btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link, .btn:visited {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
  margin-right: 10px;
}

.btn-ghost:link, .btn:visited {
  border: 1px solid #3498db;
  color: #3498db;
}

.btn:hover, .btn:active {
  background-color: #0f52ba;
}

.btn-full:hover, .btn:active {
  border: 1px solid #0f52ba;
}

.btn-ghost:hover, .btn:active {
  border: 1px solid #0f52ba;
  color: #fff;
}

/* ------------------- */
/* Header section      */
/* ------------------- */
header {
 background-image: linear-gradient(rgba(51, 107, 228, 0.5), rgba(0, 0, 0, 0.5)), url('img/portOfTacoma.jpg');
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 height: 100vh;
}

.hero-text-box {
 position: absolute;
 width: 1140px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.logo {
  height: 5rem;
  width: auto;
  float: left;
  margin-top: 1rem;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 2rem;
}

.main-nav li {
  display: inline-block;
  margin-left: 2rem;
}

.main-nav li a:link, .main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
  border-bottom: 2px solid #3498db;
}

/* ------------------- */
/* About section      */
/* ------------------- */

.section-about {
  background-color: #f4f4f4;
  padding-top: 2rem;
}

.section-about h3 {
  font-size: 150%;
  font-weight: 300;

}

.box img {
  width: 70%;
  height: 25rem;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;


}

.narrative {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.narrative ul {
  list-style: none;
}

/* ------------------- */
/* Education section   */
/* ------------------- */
.education-section{
  background-color: #e8e8e8;
  padding-top: 2rem;
}

.ed-box {
  background-color: #fff;
  border-radius: .25rem;
  width: 90%;
  margin-left: 5px;
  list-style: none;
}


.ed-box img {
  width: 100%;
  height: auto;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.ed-box ul {
  display: block;
  color: #3498db;
  list-style: none;
  text-align: left;
  line-height: 1rem;
  font-weight: 300;
  margin: auto;
  font-size: 75%;
}

.ed-narrative {
  color: #555;
}

.ed-narrative p {
  margin: 10px auto;
  line-height: 1.5rem;
  text-align: left;
}

/* ------------------- */
/* Skills section      */
/* ------------------- */

.skills {
  background-image: linear-gradient(rgba(51, 107, 228, 0.8), rgba(0, 0, 0, 0.5)), url('img/tacomaWaterFront.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #fff;
  width: 100%;
  padding-top: 2rem;
  text-align: left;
}

.exp-box {
  border-left: 5px solid #3498db;
  margin-bottom: 30px;

}

.exp-box p, b {
  margin-left: 10px
}

.skill-box {
  background-color: #969696;
  line-height: 1.5rem;
  width: 100%;
  color: #fff;
  opacity: 0.9;
}

.skill-box ul, .skill-box li {
  display: block;
  list-style: none;
  vertical-align: middle;
  text-align: left;
  margin-left: 10px;
}

.skill-box h4 {
  color: #fff;
}

progress {
  -webkit-appearance: progress-bar;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  height: 1rem;
}

/* ------------------- */
/* service section     */
/* ------------------- */
.service {
  background-color: #f4f4f4;
  padding: 40px;
}

.service-box {
  border: 1px solid #3498db;
  text-align: center;
  background-color: #969696;
  border-radius: 1rem;
  color: #fff;
}

/* ------------------- */
/* project section     */
/* ------------------- */
.project-section{
  background-color: #e8e8e8;
  padding-top: 2rem;
}

.prod-box {
  background-color: #fff;
  border-radius: .25rem;
  width: 90%;
  margin-left: 5px;
  list-style: none;
}


.prod-box img {
  width: 100%;
  height: auto;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.prod-box ul, .prod-box li {
  display: inline;
  list-style: none;
  vertical-align: middle;
  width: 90%;
  margin-left: 10px;
}

.prod-box a:link, .prod-box a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}

/* ------------------- */
/* Project Page section*/
/* ------------------- */
.page-nav{
  background-color: grey;
}

.sec-nav {
  float: right;
  list-style: none;
  margin-top: 2rem;
}

.sec-nav li {
  display: inline-block;
  margin-left: 2rem;
}

.sec-nav li a:link, .sec-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.sec-nav li a:hover, .sec-nav li a:active {
  border-bottom: 2px solid #3498db;
}


/* ------------------- */
/* footer section      */
/* ------------------- */

footer{
  background-color: #0f52ba;
  padding: 40px;
  font-size: 80%;
}

.links{
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.links li, .social-links li {
  display: inline-block;
  margin-right: 20px;
}

.links li:last-child, .social-links li:last-child {
  margin-right: auto;
}

.links li a:link,
.links li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.links li a:hover,
.links li a:active{
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.facebook,
.linkedin,
.instagram {
  transition: color 0.2s;
}

.facebook:hover {
  color: #fff;
}

.linkedin:hover{
  color: #00aced;
}

.instagram:hover {
  color: #fff;
}

footer p{
  color: #888;
  text-align: center;
  margin-top: 20px;
}
